/***/
/*{*/
/*	border: dashed;*/
/*    border-width: 1px;*/
/*    border-color: #0000FF;*/
/*}*/

#header {
	height: 50px;
	background-color: #F38630;
	}
	
#leftcolumn
{
	height: 300px;
	width: 150px;
	background-color: #A7DBD8;
	float: left;
	margin-bottom: 10px;
}

#footer {
	height: 50px;
	background-color: #69D2E7;
	/*Add your CSS here!*/
    clear: both;
}

#content
{
background-color: #E0E4CC;
width: 1370px;
height: 700px;
/*float: right;*/
}

table
{
	font-family: sans-serif;
	font-size: x-small;
	border: solid 1px;
	background-color: #ffffff;
	width:100%;
}

tr td
{
	border-bottom: solid 1px;
}

p
{
	margin:0;
}

#console
{
/*width:580px;*/
height: 300px;
background-color: #ffffff;
border: solid 1px;
overflow-y: scroll;
}

.counter
{
	background-color: #555753;
	height:25px;
}

#opcounter
{
	float: left;
	margin-right: 25px;
}
.subcontent
{
	height:690px;
	width: 610px;
}

.contleft
{
	background-color: #d3ec1f;
	float:left;
}

.contright
{
	background-color: #BF4094;
	float:right;
}

.outputfont
{
	font-family: monospace;
	font-size: small;
}

#codewindow
{
border: 5px solid;

background-color: #ffffff;
height: 300px;
overflow: scroll;
}

.selectedLine
{
background-color: #729fcf;
color: #ffffff;
}

#graphbox
{
height: 150px;
background-color:#eeeeec;
position: relative;
padding: 0 5px 0 5px;
}

.bar
{
	width: 2px;
	
	position: absolute;
	bottom: 0;
}

.unselectedelem
{
	background-color:#204a87;
}

.selectedelem
{
	background-color:#edd400
}

.switchedelem
{
	background-color: #ef2929;
}

.steps
{
	display: inline-block;
}

.disabledStackFrame
{
	color: #ff0000;
}

#stack
{
	height: 200px;
	width: 125px;
	overflow-y: scroll;
}

#order
{
	height: 200px;
	width: 480px;
	overflow: scroll;
}


